@model IEnumerable<HotelReservation.Models.Reservation>

@{
    ViewBag.Title = "BookingList";
}

<h2>BookingList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationNumber })
        </td>
    </tr>
}

</table>
